sionna==0.19.2
tensorflow>=2.13,<2.16
numpy==1.26.4
matplotlib==3.10.8
scipy==1.12.0
importlib_resources>=1.4.0
mitsuba>=3.2.0,<3.6.0
pythreejs>=2.4.2
ipywidgets>=8.0.4
ipydatawidgets==4.3.2
jupyterlab-widgets==3.0.5
pyyaml==6.0.3
rich==14.2.0

# Optional extras
streamlit==1.53.0
